<script src="//code.jquery.com/jquery.js"></script>

<style>
body{
  background-color:#2c3e50;
  }
nav{
  opcaity:0.5;
  color: #2c3e50;
}
</style>

<% if (favorites){ %>
<script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>

<script>SC.initialize({
      client_id: '5cf04062a450048534698b4374a8ae62',
    });</script>


<!-- <div class="container-fluid"> -->
    <div class="row">
      <div class="col-lg-8" id = 'artist'>
              <div class="col-lg-12" id = 'container'></div>
      
        
    <script>
    SC.get('/tracks', {
      q: '<%= favorites.artist %>/<%= favorites.song %>'
    }).then(function(tracks) {
      console.log(tracks[0].permalink_url);
      SC.oEmbed(tracks[0].permalink_url, {
        auto_play: false
      }).then(function(embed) {
        console.log('oEmbed response: ', embed);
        $('#container').html(embed.html);
      });
    });
      </script>
      </div>
      <div class="col-lg-4" id = 'player'>
        <h1> <%= favorites.artist %></h1>
        <h2><%=favorites.song %></h2>


      </div>
        </div>
     <footer><a href="/favorites/2"><span class="glyphicon glyphicon-menu-down"  id ='arrow' aria-hidden="true"</span>
    </div> </footer>
    </div>



    <% }else{ %>
    You must pick a track!
    <% }; %>
