<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="http://zumic.com/wp-content/uploads/2013/03/Pitchfork-Music-Festival-2013.jpg" class="thumbnail">
      <img src="http://zumic.com/wp-content/uploads/2013/03/Pitchfork-Music-Festival-2013.jpg" alt="...">
    </a>
  </div>
 