<style>
	body{
	background-image:url('http://i.imgur.com/11CBISy.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
</style>
<div id ='wrapper'>
<div class='headlines'>
<h1>Herd</h1>
<h2>Be the first of your herd to hear the newest best-of lists</h2>
</div>


  <footer><a href="/scraping"><span class="glyphicon glyphicon-menu-down"  id ='arrow' aria-hidden="true"</span>
</div> </footer>


<!--  "https://d13yacurqjgara.cloudfront.net/users/11380/screenshots/2335428/parrot.png" -->