<style>
	body{
	background-image:url('http://i.imgur.com/11CBISy.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 300px;
}
</style>

<div "col-lg-3">
<h1 id='headlines'>Herd</h1>
</div>


  <footer><a href="/scraping"><span class="glyphicon glyphicon-menu-down"  id ='arrow' aria-hidden="true"</span>
</div> </footer>


<!--  "https://d13yacurqjgara.cloudfront.net/users/11380/screenshots/2335428/parrot.png" -->