<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6" id = 'artist'>
          <h1><%= favorite[0].song %></h1>
        </div>

 <div class="col-lg-6" id = 'player'>
            <img src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/SXU8ABTH8U.jpg" class="img-responsive" alt="Image">
        </div>
    </div>
</div>