
	

<h1>Playlist</h1>

<%favorites.forEach(function(favorite){ %>
	<div class="ul">
	<a href="/favorites/<%= favorite.id %>">
    <p><%= favorite.song %></p>
    <p><strong><%= favorite.title %></strong></p></a>
  </div>
<% }); %>
