<h1>Pitchfork's Newest</h1>

<% for(key in data){ %>
	<div class="well">
	<h2><%= key %>: 
	<%= data[key] %></h2>
	  <input type="hidden" value="<%= data.key %>" name="year">
  	<input type="hidden" value="<%= data.value %>" name="title">
  	<input type="submit" class="btn btn-success" value="Add to Favorites">

	</div>
<% }; %>