body{
	background-color:#FEFFFB;
	color: #849696;
	font-family: 'Exo 2';
	font-size: 4em;
}

nav{
	color:#bdc3c7;
	background-color: red;
	opacity: 0.5;
	font-size: 20px;
	
}
h1{
	color:#FF972C;
	font-weight: bold;
}

h2{
	font-size: 70px;


}

ul{
	text-align: center;
}
#playlist{

	background-color: #849696;
	position: fixed; /* or absolute */
  	top: 50%;
  	left: 50%;
}
.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
}

#arrow{
	font-size: 100px;
	text-align:center;
	margin-top: 20px;
	margin-right:200px;
	
}
.carousel-content {
    color:#849696;
    display:flex;
    align-items:center;
    padding-top: 250px;
    padding-bottom: 100px
}

#headlines{
	font-size: 300px;
	text-align:center;
	color: #95a5a6;
	margin-top: 100px;

	
}
#heart{
	color:#FF972C;
	background-color: #232D33;
	margin-left: 250px;
}

#artist{
	padding:0;
	margin:0;
}
#container{
	padding-right: 0;
	height:20px;
}
#player{
	padding: 0;
	margin:0;
	height:70px;
	color:#FF972C;
}

#photo{
	background-color: blue;
}

/**/
