body{
	background-color:#2c3e50;
	color: #f1c40f;
	font-family: 'Exo 2';
	font-size: 4em;
}

nav{
	color:#bdc3c7;
	background-color: red;
	opacity: 0.5;
	font-size: 20px;
	
}

h2{
	font-size: 70px;
	text-align: center;
}



#arrow{
	font-size: 100px;
	text-align:center;
	margin-top: 20px;
	margin-right:200px;
	
}
.carousel-content {
    color:black;
    display:flex;
    align-items:center;
    padding-top: 250px;
    padding-bottom: 100px
}

#headlines{
	font-size: 300px;
	text-align:center;
	color: #95a5a6;
	margin-top: 100px;

	
}

#artist{
	padding:0;
	margin:0;
}
#container{
	padding-right: 0;
	height:20px;
}
#player{
	padding: 0;
	margin:0;
	height:70px;

}
#photo{
	background-color: blue;
}

/**/
